.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  height: 500px;
}

.wrapper > * {
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
}

.header {
  background: rgb(255, 255, 255);
  height: 100px;
}

.header ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  line-height: 32px;
}

.header li a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  padding: 0 25px; 
  float: right;
  letter-spacing: 1.5px;
}

.header ul li a:hover {
  color: rgb(96, 121, 233);
  border-bottom: solid aquamarine 2.5px;
}

.header ul li a.active {
  color: rgb(96, 121, 233);
  font-weight: bolder;
}

.logo {
  float: left;
  vertical-align: top;
  width: 200px;
  height: 140px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1 {
  font-size: 17.8px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

p {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
}

.footer {
  font-family: 'Courier New', Courier, monospace;
  background: white;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  padding-right: 25px;
  color: black;
  padding-bottom: 4px;
}

.main {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background: rgb(255, 255, 255);
  height: 500px;
  font-size: 11px;
}

.main h1 {
  padding-bottom: 1.5%;
  font-weight: initial;
  color: rgb(46, 43, 226);
  font-size: 17.8px;
  letter-spacing: 2.5px;
  border-bottom: lightgray solid 0.3px;
}

.b {
  font-size: 14px;
  font-weight: bolder;
}

.main details {
  padding-top: 1.5%;
  border: none;
}
.main summary {
  outline: none;
}

.main details[open] > p {
  line-height: 2;
}

.aside.aside1 h1 

.aside1 {
  padding-top: 16.5%;
  background-color: rgb(255, 255, 255);
  line-height: 1.7;
}

.aside2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  padding-top: 27%;
  padding-right: 30px;
  list-style: none;
  text-align: right;
  letter-spacing: 1.5px;
}

.aside.aside2 ul {
  list-style: none;
  line-height: 2.2;
}

.aside.aside2 ul li a{
color: black;
text-decoration: none;
}

.aside.aside2 ul li a:hover {
  color: rgb(96, 121, 233);
  border-bottom: solid aquamarine  2.5px;
}

.aside.aside2 ul li a.active {
  color: rgb(96, 121, 233);
  font-weight: bolder;
}

@media all and (min-width: 400px){
  .main {
    flex: 3;
  }

  .aside1 {
    order: 1;
  }

  .aside2 {
    order: 2;
  }

  .main{
    order: 2;
  }

  .footer {
    order: 4;
  }
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1;
  }
}


