.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    height: 500px;
    }
    
  .wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
    }
    
  .header {
    background: rgb(255, 255, 255);
    height: 100px;
    }
    
  .header ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    line-height: 32px;
    }
    
  .header li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 25px; 
    float: right;
    letter-spacing: 1.5px;
    }
    
  .header ul li a:hover {
    color: rgb(96, 121, 233);
    border-bottom: solid aquamarine 2.5px;
    }
    
  .header ul li a.active {
    color: rgb(96, 121, 233);
    font-weight: bolder;
    }
    
  .logo {
    float: left;
    vertical-align: top;
    width: 200px;
    height: 140px;
    }
    
  h2 {
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    padding-top: 15%;
    text-align: center;
    padding-bottom: 20px;
  }
    
  .footer {
    font-family: 'Courier New', Courier, monospace;
    background: white;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    padding-right: 25px;
    color: black;
    padding-bottom: 4px;
  }
  
p {
  font-size: 13px;
}
    
.main {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background: rgb(255, 255, 255);
  height: 600px;
  font-size: 15px;
}
  
.main h1 {
  padding-bottom: 1.5%;
  font-weight: initial;
  color: color black;
  font-size: 18.5px;
  letter-spacing: 3px;
}
  
.submitbtn {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  width: 70px;
  height: 18px;
  border: none;
  outline: solid 1px  rgb(91, 88, 255);
  background:rgb(255, 255, 255);
  font-weight: bold;
  color: rgb(65, 64, 64);
  }
  
.submitbtn:hover {
  cursor: pointer;
  background-color: aquamarine;
  }
  
#stayloggedincheckbox {
  padding-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 20px;
  color: rgb(91, 88, 255);
  text-align: center;
}
  

.aside2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  padding-top: 27%;
  padding-right: 30px;
  list-style: none;
  text-align: right;
  letter-spacing: 1.5px;
}
    
.aside.aside2 ul {
  list-style: none;
  line-height: 2.2;
}
    
.aside.aside2 ul li a{
  color: black;
  text-decoration: none;
}
    
.aside.aside2 ul li a:hover {
  color: rgb(96, 121, 233);
  border-bottom: solid aquamarine 2.5px;
}
    
.aside.aside2 ul li a.active {
  color: rgb(96, 121, 233);
  font-weight: bolder;
}
    
    
  @media all and (min-width: 400px){
    .main {
      flex: 3;
    }
    
    .aside1 {
      order: 1;
    }
    
    .aside2 {
      order: 2;
    }
    
    .main{
      order: 2;
    }
    
    .footer {
      order: 4;
    }
  }
    
  @media all and (min-width: 600px) {
    .aside {
      flex: 1;
    }
  }
    
    
    