.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  height: 950px;
}

.wrapper > * {
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
}

.header {
  background: rgb(255, 255, 255);
  height: 100px;
}

.header ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  line-height: 32px;
}

.header li a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  padding: 0 25px; 
  float: right;
  letter-spacing: 1.5px;
}

.header ul li a:hover {
  color: rgb(96, 121, 233);
  border-bottom: solid  aquamarine  2.5px;
}

.header ul li a.active {
  color: rgb(96, 121, 233);
  font-weight: bolder;
}

.logo {
  float: left;
  vertical-align: top;
  width: 200px;
  height: 140px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h1 {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

p {
  font-size: 13px;
  font-family: 'Courier New', Courier, monospace;
}

.footer {
  font-family: 'Courier New', Courier, monospace;
  background: white;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  padding-right: 25px;
  color: black;
  height: 100px;
}

.main {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background: rgb(255, 255, 255);
  font-size: 12px;
  height: 550px;
}

.main h1 {
  padding-bottom: 1.2%;
  font-weight: initial;
  color: rgb(46, 43, 226);
  font-size: 18px;
  letter-spacing: 4px;
  border-bottom: lightgray solid 0.3px;
}

#leftpanel label {
  font-size: 16px;
  color: rgb(10, 6, 100);
  font-weight: bold;
}

.phishinfo {
 line-height: 2;
  border-bottom: lightgray solid 0.3px;
  font-size: 11px;
}
.paypalinfo {
  padding-top: 1%;
  font-size: 11px;
  line-height: 1.5;
}

.amazoninfo {
  padding-top: 1.5%;
  font-size: 11px;
  line-height: 1.5;
}

.blackboardinfo {
  padding-top: 1.5%;
  font-size: 11px;
  line-height: 1.5;
}

#lastimg {
  padding-bottom: 2.5%;
}

.sendtemplate {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  width: 70px;
  height: 24px;
  border: none;
  outline: solid 1px  rgb(91, 88, 255);
  background:rgb(255, 255, 255);
  font-weight: bold;
  color: rgb(65, 64, 64);
  }
    
.sendtemplate:hover {
  cursor: pointer;
  background-color: aquamarine;
  }

#leftpanel h1 {
  font-size: 16px;
  color: rgb(10, 6, 100);
  letter-spacing: 2px;
  text-decoration: underline;
}

#leftpanel {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 5.5%;
  background-color: rgb(255, 255, 255);
  line-height: 3;
  border: cornflowerblue;
}

#rightpanel {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  padding-top: 24%;
  padding-right: 30px;
  list-style: none;
  text-align: right;
  letter-spacing: 1.5px;
}

#rightpanel ul {
  list-style: none;
  line-height: 2.2;
}

#rightpanel ul li a{
  color: rgb(10, 6, 100);
  text-decoration: none;
}

#rightpanel ul li a:hover {
  color: rgb(96, 121, 233);
  border-bottom: solidaquamarine  2.5px;
}

#rightpanel ul li a.active {
  color: rgb(96, 121, 233);
  font-weight: bolder;
}

@media all and (min-width: 400px){
  .main {
    flex: 3;
  }

  #leftpanel {
    order: 1;
  }

  #rightpanel {
    order: 2;
  }

  .main{
    order: 2;
  }

  .footer {
    order: 4;
  }
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1;
  }
}


